[phases.setup]
aptPkgs = [
    "libgl1",
    "libglib2.0-0",
    "libglvnd0",
    "libglx0",
    "libxext6",
    "libxrender1"
]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "gunicorn app:app --bind 0.0.0.0:$PORT"
