# Torch CPU (compatible with Python 3.12)
torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu

# Flask
Flask
Flask-Mail
gunicorn


# Core dependencies
Pillow
numpy
pandas


oopencv-python-headless
ultralytics
