<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>Circuit Sherlock</title>
    <!-- Bootstrap Cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Bootstrap icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- External Css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Aos animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <section class="back-ground">
        <!-- navbar start -->
        <nav class="navbar navbar-scrolled navbar-expand-lg bg-body-tertiary sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand fs-4" href="#"><span><img
                            src="{{ url_for('static', filename='./Assets/generated-image__4_-removebg-preview.png') }}"
                            alt="" width="55px" height="55px" class="mb-2"></span>Circuit <span
                        class="">Sherlock</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mb-2" id="navbarNav">
                    <ul class="navbar-nav mx-auto fs-5">
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold" aria-current="page" href="/Home">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold" href="/About">About Us</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold" href="/">Our AI</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link fw-bold" href="/Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- navbar end -->

        <!-- CONTACT SECTION -->
        <section>
            <div class="container" data-aos="fade-up" data-aos-duration="3000">
                <h1 class="text-center m-5 fw-bold contact-heading-1">Contact Us</h1>
                <div class="row g-4">

                    <!-- Left side - Form -->
                    <div class="col-12 col-lg-6">
                        <div class="contact-card">

                            <form action="/send_message" method="POST">
                                <div class="mb-3">
                                    <label class="form-label text-white fw-bold">Your Name</label>
                                    <input type="text" class="" name="name" placeholder="Enter your name">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label text-white fw-bold">Your Email</label>
                                    <input type="email" class="" name="email" placeholder="Enter your email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label text-white fw-bold">Your Mobile Number</label>
                                    <input type="tel" name="mobile" placeholder="Enter Mobile Number"
                                        pattern="[6-9]{1}[0-9]{9}" maxlength="10" required class="neon-input" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-white fw-bold">Message</label>
                                    <textarea class="" name="message" rows="4"
                                        placeholder="Type your message"></textarea>
                                </div>

                                <button class="btn btn-submit w-100 text-white fw-bold">Submit</button>

                                {% if success %}
                    <div class="alert alert-success mt-3 fw-bold text-center">
                        Message sent successfully! We will contact you soon.
                    </div>
                    {% endif %}
                            </form>

                        </div>
                    </div>


                    <!-- Right side — Map -->
                    <div class="col-12 col-lg-6">
                        <div class="map-card">

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1902.636914466974!2d78.40222726010906!3d17.494437176325366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9166b2171781%3A0x4771784e3b297922!2sSocialTek%20AI%20ML%20Business%20solutions%20pvt%20ltd!5e0!3m2!1sen!2sin!4v1763382450830!5m2!1sen!2sin"
                                width="100%" height="510" style="border:0;" loading="lazy">
                            </iframe>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--  -->

        <!-- INFO BOXES -->
        <div class="info-wrapper">
            <div class="Information">
                <h3>Address</h3>
                <p>Hyderabad, Kukatpally</p>
            </div>

            <div class="Information">
                <h3>Mail Us</h3>
                <p>info@example.com</p>
            </div>

            <div class="Information">
                <h3>Telephone</h3>
                <p>+91 9876543210</p>
            </div>
        </div>










        <!-- Footer section start -->
        <footer class="footer glass-footer mt-5" data-aos="fade-up">
            <div class="container">
                <div class="row justify-content-center">

                    <!-- column 1 -->
                    <div class="col-sm-12 col-md-3 col-lg-3 glass-card">
                        <div class="mx-4">
                            <h5 class="glass-heading">Circuit Sherlock</h5>
                            <p class="mt-4 text-wite glass-text">
                                AI-Powered Image-Based PCB Defect Detection System
                                <br>
                                Combining Deep Learning and Computer Vision for Smarter Manufacturing.
                            </p>
                        </div>
                    </div>

                    <!-- column 2 -->
                    <div class="col-sm-12 col-md-3 col-lg-3 glass-card">
                        <div class="mx-5">
                            <h5 class="glass-heading">Quick Links</h5>
                            <ul class="list-unstyled mt-4">
                                <li class="text-capitalize mb-2"><a href=""
                                        class="text-decoration-none text-white">Home</a>
                                </li>
                                <li class="text-capitalize mb-2"><a href=""
                                        class="text-decoration-none text-white">About
                                        Us</a></li>
                                <li class="text-capitalize mb-2"><a href=""
                                        class="text-decoration-none text-white">Model</a></li>
                                <li class="text-capitalize mb-2"><a href=""
                                        class="text-decoration-none text-white">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- column 3 -->
                    <div class="col-sm-12 col-md-3 col-lg-3 glass-card">
                        <h5 class="glass-heading">Get in Touch</h5>
                        <div class="d-flex mt-4 glass-text">
                            <div class="me-2"><i class="bi bi-geo-alt fs-4"></i></div>
                            <div class="text-wite">
                                <p>kukkatpally,road no 4 <br>Hyderabad,50087</p>
                            </div>
                        </div>
                        <div class="d-flex glass-text">
                            <div class="me-2"><i class="bi bi-telephone fs-4"></i></div>
                            <div class="text-wite">
                                <p>+91 9958441478</p>
                            </div>
                        </div>
                        <div class="d-flex glass-text">
                            <div class="me-2"><i class="bi bi-envelope fs-4"></i></div>
                            <div class="text-wite">
                                <p>CircuitSherlock@gmail.com</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <div class="text-center glass-text">
                <p>© 2025 Circuit Sherlock</p>
            </div>
        </footer>
        <!-- Footer section End -->
    </section>

















    <!-- scripts -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Bootstrap js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <!-- Aos animation -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>